.quickIntro {
    background-color: #ffffff;
}

.quickIntro .card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.quickIntro .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.fade-in {
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.fade-in.visible {
    opacity: 1;
}

.strong {
    font-weight: 900;
}

.quickIntro .equal-height {
    display: flex;
    align-items: stretch;
}

.quickIntro .equal-height>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.learnMore {
    cursor: pointer;
    transition: color 0.3s ease;
}

.learnMore:hover {
    color: #0056b3;
    /* Change to a darker shade of blue on hover */
    text-decoration: underline;
}