/* styles/custom.css */
.reel-clipped {
    position: relative;
    width: 300px;
    /* Fixed width for clipping */
    height: 400px;
    /* Fixed height to crop bottom */
    overflow: hidden;
    /* Hide overflow content */
    margin: 0 auto;
    /* Center the clipped div */
}

.reel-clipped .instagram-media {
    position: absolute;
    top: -2250px;
    left: 0;
    width: 100%;
}